<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: common_header(~{::title/text()},~{::link},~{::script})">

    <title>今日特价列表</title>

</head>
<body class="layui-layout-body">

<div class="layui-layout layui-layout-admin">
    <div th:replace="base :: top_header"></div>

    <div th:replace="base :: left_nav ('product','todayPrice')"></div>

    <div class="layui-body">
        <div th:replace="base :: breadcrumb ('product', '商品', '今日特价')"></div>

        <!--内容主体区域 -->
        <div style="padding: 15px;">

            <table class="layui-table">
                <colgroup>
                    <col width="150">
                    <col width="200">
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>食品名称</th>
                        <th>摊位</th>
                        <th>日期</th>
                        <th>现价</th>
                        <th>特价</th>
                    </tr>
                </thead>
                <tbody>

                <tr th:each="item : ${pageInfo.getList()}">
                    <td th:text="${item.id}"></td>
                    <td th:text="${item.food}"></td>
                    <td th:text="${item.booth}"></td>
                    <td th:text="${#dates.format(item.priceDate,'yyyy-MM-dd')}"></td>
                    <td th:text="${item.price}"></td>
                    <td th:text="${item.specialPrice}"></td>
                </tr>
                </tbody>
            </table>

            <div id="page"></div>

            <a href="/import/todayPrice" class="layui-btn">导入今日特价</a>
            <a th:href="@{/static/excel/today_price.xlsx}" class="layui-btn">今日特价模板下载</a>

        </div>
    </div>

    <div th:replace="base :: footer"></div>
</div>

<th:block th:replace="base :: bottom_script"/>
<script th:inline="javascript">
    //JavaScript代码区域
    layui.use(['element', 'laypage', 'layer'], function () {
        var layPage = layui.laypage;
        var pageInfo = [[${pageInfo}]];
        layPage.render({
            elem: 'page',
            curr: pageInfo.pageNum,
            limit: pageInfo.pageSize,
            count: pageInfo.total,
            jump: function(obj, first) {
                if (!first) {
                    window.location.href="/todayPrice?page=" + obj.curr + "&size=" + obj.limit;
                }
            }
        });

        var layer = layui.layer;
        var message = [[${msg}]];
        if (message) {
            layer.msg(message, {
                offset: '15px',
                icon: 1
            });
        }
    });
</script>

</body>
</html>