<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_header(title, links, scripts)">
    <meta charset="UTF-8" content="text/html"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title th:utext="${title}">Admin管理平台</title>

    <link type="image/x-icon" th:href="@{/static/images/favicon.ico}" rel="shortcut icon">

    <!-- 引入 layui css -->
    <link th:href="@{/static/layui/2.4.5/css/layui.css}" rel="stylesheet"/>

    <!--/* Per-page placeholder for additional links */-->
    <th:block th:replace="${links} ?: ~{}" />
    <!--<th:block th:replace="${scripts} ?: ~{}" />-->

</head>
<body>

<div th:fragment="top_header" class="layui-header">
    <div class="layui-logo">Admin管理平台</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item layui-this"><a href="">基础数据</a></li>
    </ul>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <a href="javascript:;">
                <img th:src="${head}" class="layui-nav-img">
                <span th:text="${username}"></span>
            </a>
            <dl class="layui-nav-child">
                <dd><a href="">基本资料</a></dd>
                <dd><a href="">安全设置</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="/login">退出</a></li>
    </ul>
</div>

<div th:fragment="left_nav(parent, child)" class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航）  -->
        <ul class="layui-nav layui-nav-tree" lay-filter="test">
            <li class="layui-nav-item" th:classappend="${child == ''}?'layui-this' : ''"><a href="/">控制台</a></li>
            <li class="layui-nav-item" th:classappend="${parent=='home'}?'layui-nav-itemed':''">
                <a href="javascript:;">首页</a>
                <dl class="layui-nav-child">
                    <dd th:class="${child == 'wheel'}? 'layui-this' : ''">
                        <a href="/wheel">轮播图管理</a>
                    </dd>
                    <dd th:class="${child=='advertImage'}?'layui-this':''">
                        <a href="/advertImage">底部图片管理</a>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item" th:classappend="${parent=='market'}?'layui-nav-itemed':''">
                <a href="javascript:;">菜市场</a>
                <dl class="layui-nav-child">
                    <dd th:class="${child == 'market'}? 'layui-this' : ''">
                        <a href="/market">菜市场</a>
                    </dd>
                    <dd th:class="${child == 'marketRegion'}? 'layui-this' : ''">
                        <a href="/marketRegion">区域</a>
                    </dd>
                    <dd th:class="${child=='booth'}?'layui-this':''">
                        <a href="/booth">摊位</a>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item" th:classappend="${parent=='product'}?'layui-nav-itemed':''">
                <a href="javascript:;">商品</a>
                <dl class="layui-nav-child">
                    <dd th:class="${child == 'category'}? 'layui-this' : ''">
                        <a href="/category">分类管理</a>
                    </dd>
                    <dd th:class="${child=='food'}?'layui-this':''">
                        <a href="/food">食品</a>
                    </dd>
                    <dd th:class="${child=='guidePrice'}?'layui-this':''">
                        <a href="/guidePrice">指导菜价</a>
                    </dd>
                    <dd th:class="${child=='todayPrice'}?'layui-this':''">
                        <a href="/todayPrice">今日特价</a>
                    </dd>
                    <dd th:class="${child=='foodMenuCategory'}?'layui-this':''">
                        <a href="/foodMenuCategory">菜谱分类</a>
                    </dd>
                    <dd th:class="${child=='foodMenu'}?'layui-this':''">
                        <a href="/foodMenu">菜谱</a>
                    </dd>
                </dl>
            </li>
            <li th:class="${child == 'couponExercise'}? 'layui-nav-item layui-this' : 'layui-nav-item'">
                <a href="/couponExercise" >优惠活动</a>
            </li>
            <li th:class="${child == 'user'}? 'layui-nav-item layui-this' : 'layui-nav-item'">
                <a href="/user" >用户管理</a>
            </li>
        </ul>
    </div>
</div>

<div th:fragment="breadcrumb(parent, parentName, childName)">
    <div style="background-color: gainsboro; padding: 15px">
        <span class="layui-breadcrumb">
            <a th:href="|/${parent}|" th:text="${parentName}"></a>
            <a><cite th:text="${childName}"></cite></a>
        </span>
    </div>
</div>

<footer th:fragment="footer">
    <div class="layui-footer">
        <div class="layui-main" style="text-align: center">
            <p>&copy; 2018 <a href="/">www.fanxl.cn</a></p>
        </div>
    </div>
</footer>

<th:block th:fragment="bottom_script">
    <!-- 引入 layui核心 JavaScript 文件 -->
    <script th:src="@{/static/layui/2.4.5/layui.js}"></script>
</th:block>

</body>
</html>