<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fanxl.admin.dao.BoothDao">

    <!--获取web页面上显示的列表-->
    <select id="getWebList" resultType="com.fanxl.admin.dto.BoothDTO">
        select a.id, a.name, a.star, b.name as categoryName
        from admin_booth a
        left join admin_category b on b.id = a.category_id
    </select>

    <!--获取图片详情-->
    <select id="imageDetail" parameterType="Long" resultType="com.fanxl.admin.vo.BoothImageVO">
        SELECT a.position, a.license_url, b.name as marketRegionName, c.name as marketName
        FROM admin_booth a
        left join admin_market_region b on b.id = a.market_region_id
        left join admin_market c on c.id = b.market_id
        where a.id =#{id};
    </select>



</mapper>