<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fanxl.admin.dao.CategoryDao">

    <!--创建-->
    <insert id="create" parameterType="Category">
        insert into admin_category (name) values (#{name});
    </insert>

    <!--更新-->
    <update id="update" parameterType="Category">
        update admin_category set name =#{name} where id =#{id};
    </update>

    <!--查找-->
    <select id="get" parameterType="Long" resultType="Category">
        select id, name
        from admin_category
        where id =#{id};
    </select>

    <!--删除-->
    <delete id="delete" parameterType="Long">
        delete from admin_category where id=#{id};
    </delete>

    <!--查找所有分类-->
    <select id="findAll" resultType="Category">
        select id, name
        from admin_category
    </select>

</mapper>