<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fanxl.admin.dao.CouponExerciseDao">

    <!--获取优惠活动-->
    <select id="getCoupon" resultType="CouponExercise">
        select url, width, height
        from admin_coupon_exercise
        order by create_date desc
        limit 1;
    </select>



</mapper>