<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fanxl.admin.dao.GuidePriceDao">

    <!--批量创建-->
    <insert id="saveList" parameterType="List">
        insert into admin_guide_price (food_id, price_date, max_price, max_price_trend, average_price, low_price, low_price_trend)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.foodId}, #{item.priceDate}, #{item.maxPrice}, #{item.maxPriceTrend}, #{item.averagePrice},
             #{item.lowPrice}, #{item.lowPriceTrend})
        </foreach>;
    </insert>

    <!--获取上一次的价格日期的价格-->
    <select id="getLastGuidePrice" parameterType="Date" resultType="GuidePrice">
        select food_id, max_price, low_price
        from admin_guide_price
        where price_date =#{lastPriceDate};
    </select>

    <!--获取上一次的价格日期-->
    <select id="getLastPriceDate" resultType="Date">
        select price_date
        from admin_guide_price
        order by price_date desc
        limit 1;
    </select>

    <!--根据分类获取指导价-->
    <select id="list" parameterType="Long" resultType="com.fanxl.admin.vo.GuidePriceVO">
        SELECT a.`average_price`, a.`low_price`, a.`max_price`, a.`low_price_trend`,
               a.`max_price_trend`, b.`name`
        FROM `admin_guide_price` a
        LEFT JOIN `admin_food` b ON b.id = a.`food_id`
        WHERE b.`category_id` =#{categoryId}
    </select>

    <!--获取所有指导价-->
    <select id="all" resultType="com.fanxl.admin.vo.GuidePriceVO">
        SELECT a.id, a.`average_price`, a.`low_price`, a.`max_price`, a.`low_price_trend`,
               a.`max_price_trend`, b.`name`, b.category_id
        FROM `admin_guide_price` a
                 LEFT JOIN `admin_food` b ON b.id = a.`food_id`;
    </select>

    <delete id="deleteAll">
        delete from admin_guide_price;
    </delete>

</mapper>