<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fanxl.admin.dao.TodayPriceDao">

    <!--批量创建-->
    <insert id="saveList" parameterType="List">
        insert into admin_today_price (booth_id, food_id, price_date, price, special_price)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.boothId}, #{item.foodId}, #{item.priceDate}, #{item.price}, #{item.specialPrice})
        </foreach>;
    </insert>

    <!--根据分类获取指导价-->
    <select id="list" parameterType="Date" resultType="com.fanxl.admin.vo.TodayPriceVO">
        SELECT c.`name` AS booth_name, b.`name` AS food_name, a.`price`, a.`special_price`
        FROM `admin_today_price` a
             LEFT JOIN `admin_food` b ON b.id = a.`food_id`
             LEFT JOIN `admin_booth` c ON c.id = a.`booth_id`
        WHERE a.`price_date` > #{start} and #{end} > a.price_date
    </select>

</mapper>