<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fanxl.admin.dao.TodayPriceDao">

    <!--批量创建-->
    <insert id="saveList" parameterType="List">
        insert into admin_today_price (booth_id, food_id, price_date, price, special_price)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.boothId}, #{item.foodId}, #{item.priceDate}, #{item.price}, #{item.specialPrice})
        </foreach>;
    </insert>

    <!--获取今日特价-->
    <select id="getAll" resultType="com.fanxl.admin.vo.TodayPriceVO">
        select a.id, a.price, a.special_price, b.name as foodName, c.`name` as boothName, a.`price_date`
        from `admin_today_price` a
        left join `admin_food` b on b.id = a.food_id
        left join `admin_booth` c on c.id = a.`booth_id`
    </select>

</mapper>