<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fanxl.admin.dao.WheelPictureDao">

    <!--批量创建-->
    <insert id="saveList" parameterType="List">
        insert into admin_wheel_picture (url, width, height)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.url}, #{item.width}, #{item.height})
        </foreach>;
    </insert>

    <!--获取轮播图-->
    <select id="getWheel" resultType="WheelPicture">
        select url, width, height
        from admin_wheel_picture
        order by create_date desc
        limit 10;
    </select>



</mapper>