<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: common_header(~{::title/text()},~{::link},~{::script})">

    <title>用户管理</title>

</head>
<body class="layui-layout-body">

<div class="layui-layout layui-layout-admin">
    <div th:replace="base :: top_header"></div>

    <div th:replace="base :: left_nav ('user','user')"></div>

    <div class="layui-body">
        <div th:replace="base :: breadcrumb ('user', '用户管理', '')"></div>
        <!--内容主体区域 -->
        <div style="padding: 15px;">
            <form class="layui-form" action="#" th:action="|/user/${action}|" method="post">
                <input type="hidden" name="id" th:if="${user.id !=null }" th:value="${user.id}"/>
                <div class="layui-form-item">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-block">
                        <input type="text" name="username" required lay-verify="required"
                               placeholder="请输入用户名" class="layui-input" th:value="${user.username}">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">密码</label>
                    <div class="layui-input-block">
                        <input type="text" name="password" required lay-verify="required"
                               placeholder="请输入密码" class="layui-input" th:value="${user.password}">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">手机号码</label>
                    <div class="layui-input-block">
                        <input type="text" name="phone" required lay-verify="required"
                               placeholder="请输入手机号码" class="layui-input" th:value="${user.phone}">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">邮箱</label>
                    <div class="layui-input-block">
                        <input type="text" name="email" placeholder="请输入邮箱" class="layui-input" th:value="${user.email}">
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>

            </form>
        </div>
    </div>

    <div th:replace="base :: footer"></div>
</div>

<th:block th:replace="base :: bottom_script"/>
<script th:inline="javascript">
    layui.use(['layer', 'form'], function () {
        var layer = layui.layer;

        var message = [[${msg}]];
        if (message) {
            layer.msg(message, {
                offset: '15px',
                icon: 1
            });
        }
    });
</script>

</body>
</html>